body {
	background-color: #e8f0ff;
}

.header {
	background-color: #153056;
	height: 7%;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.intro {
	background-color: #00B0B2;
	color: #003333;
	font-family: "Open Sans";
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	letter-spacing: 3px;
	width: 400px;
	height: 42px;

	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    padding: 20px;
    border-radius: 12px; 
    border: 7px #003333 solid;

    cursor: pointer;
    z-index: 2;
}

.intro:hover {
	box-shadow: 0px 0px 0.2pt 0.4pt #003333;
	text-shadow: 0 0 0.3px #003333;
}

.slide {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: 100%;
	z-index: 1;
	background-color:#0094ff;
}

.footer {
	background-color: #153056;
	height: 7%;
	width: 100%;
	z-index: 3;

	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.config {
	width: 95%;
	height: 90%;
	background-color: #dddddd;
	z-index: 1;

	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    opacity: 0.45;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.instruction {
	background-color: #3582ff;
	padding: 20px 0px 20px 5px; 
	font-size: 30px;
	font-family: "Open Sans";
	z-index: 2;

	position: relative;
	top: 0;
	left: 0;
	right: 0;

	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}